body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

h1 {   
    margin: 0;
    letter-spacing: 2px;
}
h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }

.balance {
    margin-bottom: 20px;
}
.ie-container {
    display: flex;
    justify-content: space-between;
}
.money {
    font-size: 25px;
}
.money.plus {
    color: green;
}
.money.minus {
    color: red;
}

.card {
    justify-content:space-between;
    margin-bottom: 20px;
}

.lst-amt {
    float: right;
}

.form-control {
    margin-bottom: 10px;
}

.btn-danger {
    border: 0;
    line-height: 20px;
    padding: 3px 5px;
    margin-left: 5px;
    position: absolute;
    top: 30%;
    left: 0;
}
.list-text {
    margin-left: 10px;
}